.api-entry {
  display: block;
}

.api-entry li+li {
  margin-top: .25em;
}

api-method-classname,
api-ns-classname {
  color: #ababab;
  font-weight: bold;
}

api-method h3,
api-ns h3,
api-event h3 {
  font-family: var(--monospace);
}


api-section img {
  max-width: 100%;
}
