content-component {
  background-color: #fafafa;
  position: absolute;
  left: var(--sidebar-width);
  top: var(--search-height);
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

