body {
  --monospace: Consolas, Menlo, monospace;
  font-family: roboto,helvetica neue,Helvetica,Arial,sans-serif;
}

code {
  font-family: var(--monospace);
  color: #9C27B0;
}

a {
  font-weight: normal !important;
  color: #333;
}

blockquote {
  background: #FFFDE7;
  padding: 1em 1em 1em 2em;
  margin: 2em;
  border: solid #FFEB3B;
  border-width: 0 0 0 7px;
}
