settings-component {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  z-index: 1000;
}

settings-component settings-content {
  max-width: 700px;
  width: 70%;
  max-height: 70%;
  background: white;
  overflow: hidden;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: relative;
}

settings-component product-versions {
  display: block;
  border: 0.25em solid var(--divider-color);
  margin: 1em;
  overflow: auto;
}

settings-component settings-header {
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  justify-content: space-between;
  padding: 0 1ex;
}

settings-component settings-header h3 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 1ex;
}

settings-component .settings-close-icon {
  opacity: 0.5;
  cursor: pointer;
}

settings-component .settings-close-icon:hover {
  opacity: 1;
}

settings-component product-version {
  display: grid;
  grid-template-columns: 50px auto 100px 40%;
  grid-template-rows: auto ;
  grid-template-areas: "icon name date description";
  grid-column-gap: 10px;
  padding: 1em;
  align-items: center;
  border-bottom: 1px solid rgba(51,51,51,.12);
  cursor: pointer;
}

settings-component product-version:hover {
  background-color: var(--hover-color);
}

settings-component product-version img {
  grid-area: icon;
  justify-self: center;
}

settings-component product-version:not(.selected) img {
  display: none;
}

settings-component product-version.selected {
  background-color: var(--selected-color);
}

settings-component product-version version-name {
  grid-area: name;
  font-family: var(--monospace);
}

settings-component product-version version-description {
  grid-area: description;
  font-size: 90%;
}

settings-component product-version version-date {
  grid-area: date;
  font-size: 90%;
}
