sidebar-component {
  background: #fff;
  position: absolute;
  width: var(--sidebar-width);
  top: var(--search-height);
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  border-right: 1px solid var(--divider-color);
  overflow-x: hidden;
}

sidebar-component sidebar-item {
  display: flex;
}

sidebar-component sidebar-item:hover {
  background-color: var(--hover-color);
}

sidebar-component sidebar-item.selected {
  background-color: var(--selected-color);
}

sidebar-component
sidebar-divider {
}
