toolbar-component {
  background: hsla(531, 48%, 48%, 1);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: var(--search-height);
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  z-index: 100;
}

toolbar-component
input[type=search] {
    -webkit-appearance: none;
    background: transparent;
    text-align: left;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.52);
    padding-left: 1ex;
    font-size: 20px;
    color: white;
    width: 250px;
    margin-left: 1ex;
    text-overflow: ellipsis;
}

toolbar-component
input[type=search]::-webkit-input-placeholder {
  color: #eeeeee7a;
}

toolbar-component
input[type=search]:focus {
  outline: none;
}

toolbar-component toolbar-section {
  display: flex;
  align-items: center;
}
