toolbar-component {
  background: hsla(531, 48%, 48%, 1);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: var(--search-height);
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  z-index: 100;
}

toolbar-component
input[type=search] {
    -webkit-appearance: none;
    margin: 0 auto;
    background: transparent;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.52);
    padding: 0 0 3px 20px;
    font-size: 20px;
    color: white;
    width: 450px;
    text-overflow: ellipsis;
}

toolbar-component
input[type=search]::-webkit-input-placeholder {
  color: #ddd;
}

toolbar-component
input[type=search]:focus {
  outline: none;
}

toolbar-component toolbar-section {
  display: flex;
  align-items: center;
}
